@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-black text-white dark:text-black;
}

#redwood-app {
  @apply flex flex-col items-center min-h-screen w-screen;
}
